@import '/src/index.scss';

.person {
   height: 93%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: rem(10);
   padding: 0 5%;

   &__left {
      display: flex;
      align-items: center;
      gap: rem(8);
   }

   &__img {
      flex-shrink: 0;
      width: rem(46);
      height: rem(46);
      border-radius: rem(12);
      object-fit: cover;
      overflow: hidden;
   }

   &__info {
      display: flex;
      flex-direction: column;
      gap: rem(4);
   }

   &__name {
      font-size: rem(18)
   }

   &__coins-amount {
      display: flex;
      align-items: center;
      gap: rem(6);
      font-size: rem(14);
   }

   &__earning {
      display: flex;
      align-items: center;
      gap: rem(6);
      font-size: rem(14);
   }
}