@import '/src/index.scss';

.boost {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 93%;
   width: 100%;

   &._blur {
      filter: blur(6px);
   }

   &__left {
      display: flex;
      align-items: center;
      gap: rem(10);
   }

   &__right {
      padding-right: rem(15);
   }

   &__img {
      display: block;
      height: rem(66);
      width: rem(66);
      object-fit: contain;
      padding-left: rem(20);

      @media screen and (max-width:em(410)) {
         height: rem(50);
         width: rem(50);
      }
   }


   &__price {
      display: flex;
      align-items: center;
      gap: rem(5);
      font-size: rem(24);

      @media screen and (max-width:em(390)) {
         font-size: rem(22);
      }
   }

   &__checkbox {
      display: block;
      width: rem(46);
      padding-right: rem(9);
   }
}

.boostInfo {
   display: flex;
   flex-direction: column;
   gap: rem(4);

   &__name {
      font-size: rem(20);
   }

   &__index {
      display: flex;
      align-items: center;
      gap: rem(4);
      font-size: rem(18);

      &>img {
         width: rem(20);
         object-fit: contain;

         @media screen and (max-width:em(400)) {
            width: rem(15);
         }
      }
   }
}

.blocked {
   position: absolute;
   z-index: 10;
   top: 10%;
   left: 2%;
   right: 2%;
   bottom: 20%;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: rem(5);

   font-size: rem(21);

   &>img {
      width: rem(32);
   }
}