@import '/src/index.scss';

// body{
//    overflow-y: auto !important;
//    overflow-x: hidden !important;
// }
// html{
//    overflow-y: auto !important;
//    overflow-x: hidden !important;
// }

// body.invite-page,
// html.invite-page {
//    overflow: hidden !important;
// }

.wrap {
   height: auto;
   overflow: hidden !important;
   // overflow-y: auto !important;
   // overflow-x: hidden !important;
   // height: 100vh !important;
}
.popupListWrap {
   top: rem(100);
}
.invite {
   padding: rem(50) rem(16) 0 rem(16);
   overflow: hidden;
   max-width: auto;
   margin: 0 auto;

   &__title {
      text-align: center;
      font-size: rem(32);
      margin-bottom: em(15, 32);
   }

   &__subtitle {
      text-align: center;
      font-size: rem(18);
      font-weight: 400;
      margin-bottom: rem(0);
   }
   &__list {
      width: 91%;
      top: rem(-100);
      height: 100vh !important;
      animation: appear 0.4s ease-in-out;
      min-height: 100vh !important;
   }
   &__list1 {
      width: 100%;
      top: rem(-100);
      height: 72% !important;
      animation: appear 0.4s ease-in-out;
      min-height: 550px !important;
   }
   &__list2 {
      width: 91%;
      top: rem(-100);
      height: max-content !important;
      animation: appear 0.4s ease-in-out;
      min-height: max-content !important;
   }
   &__users {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      margin-bottom: rem(23);

   }

   &__friends-control {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__friends-amount {
      display: flex;
      align-items: center;
      gap: rem(6);
      font-size: rem(18);

      span {
         opacity: .75;
      }
   }

   &__listWrap {
      top: rem(480) !important;
      height: auto;
      animation: appear 0.4s ease-in-out;
   }

   &__list {
      height: auto;
      padding: 0 rem(16) rem(80) rem(16) !important;
   }

   &__btns {
      position: relative;
      z-index: 11;
      margin-top: 20px;
      // bottom: rem(15);
      // left: rem(16);
      // right: rem(16);
      margin-bottom: 20px;

      max-width: rem(400);
      margin: 0 auto;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(10);

      font-size: rem(24);

      @media screen and (max-width:em(400)) {
         font-size: rem(21);
      }
   }
   &__notification {
      position: fixed;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #1d2024;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      opacity: 0.6;
      z-index: 11;
      transition: opacity 0.3s ease;
   }

   &__copy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      font-size: 16px;
   }
}

.bg-elements {
   img {
      position: absolute;
      z-index: 5;
   }

   & img:nth-child(1) {
      top: 5%;
      left: 5%;
   }

   & img:nth-child(2) {
      top: 10%;
      left: 50%;
   }

   & img:nth-child(3) {
      top: 12%;
      right: 10%;
   }

   & img:nth-child(4) {
      top: 26%;
      right: 15%;
   }

   & img:nth-child(5) {
      top: 75%;
      right: 60%;
   }

   & img:nth-child(6) {
      top: 40%;
      right: 30%;
   }

   & img:nth-child(7) {
      top: 56%;
      right: 76%;
   }

   & img:nth-child(8) {
      top: 80%;
      right: 15%;
   }

   & img:nth-child(9) {
      top: 50%;
      right: 46%;
   }

   & img:nth-child(10) {
      top: 60%;
      right: 10%;
   }

   & img:nth-child(11) {
      top: 20%;
      left: 10%;
   }
}

.inviteUsersBlock {
   position: relative;
   z-index: 10;

   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: rem(10);
   padding: rem(24) rem(10) rem(14) rem(18);

   background-color: #A2C521;
   border-radius: rem(12);

   &__left {
      display: flex;
      flex-direction: column;
   }

   &__title {
      font-size: rem(18);
   }

   &__subtitle {
      font-size: rem(16);
      font-weight: 400;
      padding-top: rem(6);
   }

   &__coins {
      display: flex;
      align-items: center;
      gap: rem(6);
      font-size: rem(16);
      padding-top: rem(10);

      img {
         width: rem(16);
         height: rem(16);
         object-fit: contain;
      }
   }

   &__one-gift-img {
      display: block;
      padding-right: rem(32);
   }
}

.close {
   position: absolute;
   top: 20%;
   right: 5.8%;
   z-index: 999 !important;
}