@import '/src/index.scss';

.wrap {
   height: 100dvh;
   overflow: hidden;
}

.people {
   padding-top: rem(80);

   &__title {
      text-align: center;
      font-size: rem(32);
      margin-bottom: em(10, 32);
   }

   &__invite-btn {
      position: relative;
      z-index: 20;

      width: fit-content;
      margin: 0 auto;
   }

   &__invite-btn-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80%;

      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__invite-btn {
      font-size: rem(24);
   }

   &__list {
      width: 100%;
      top: rem(250);
      height: 66%;
      animation: appear 0.4s ease-in-out;
   }

   &__list-tab-label {
      @media screen and (max-width:em(390)) {
         font-size: rem(18) !important;
      }
   }
}

.coins {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: rem(6);
   font-size: rem(14);
   margin-bottom: rem(25);
}

.bg-elements {
   img {
      position: absolute;
      z-index: 5;
   }

   & img:nth-child(1) {
      top: 5%;
      left: 5%;
   }

   & img:nth-child(2) {
      top: 10%;
      left: 50%;
   }

   & img:nth-child(3) {
      top: 12%;
      right: 10%;
   }

   & img:nth-child(4) {
      top: 26%;
      right: 15%;
   }

   & img:nth-child(5) {
      top: 75%;
      right: 60%;
   }

   & img:nth-child(6) {
      top: 40%;
      right: 30%;
   }

   & img:nth-child(7) {
      top: 56%;
      right: 76%;
   }

   & img:nth-child(8) {
      top: 80%;
      right: 15%;
   }

   & img:nth-child(9) {
      top: 50%;
      right: 46%;
   }

   & img:nth-child(10) {
      top: 60%;
      right: 10%;
   }

   & img:nth-child(11) {
      top: 20%;
      left: 10%;
   }
}

.close {
   position: absolute;
   top: 20%;
   right: 5.8%;
}