@import '/src/index.scss';

.greeting {
   position: fixed;
   z-index: 100 !important;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   opacity: 0;
   visibility: hidden;
   background-color: transparent;
   transition: all 0.4s ease-in-out;

   &._active {
      opacity: 1;
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.5);
   }

   &._active &__body {
      transform: none;
   }

   &__body {
      position: relative;
      border-radius: rem(20);
      margin: 0 rem(10);

      transform: translateY(100%);
      transition: all 0.4s ease-in-out;

      animation: change-popup 0.5s ease-in;
   }

   &__border {
      height: 100%;
      width: 100%;
      object-fit: contain;
   }

   &__label {
      position: absolute;
      transform: translateX(-50%);
      text-wrap: nowrap;


      &._first {
         top: 3%;
         left: 51%;
         font-size: rem(28);

         @media screen and (max-width:em(390)) {
            font-size: rem(26);
         }
      }

      &._second {
         top: 4%;
         left: 51%;
         font-size: rem(19);

         @media screen and (max-width:em(390)) {
            font-size: rem(17);
         }
      }

      &._third {
         top: 4%;
         left: 51%;
         font-size: rem(17);

         @media screen and (max-width:em(390)) {
            font-size: rem(15);
         }
      }

      &._fourth {
         top: 4%;
         left: 51%;
         font-size: rem(20);

         @media screen and (max-width:em(390)) {
            font-size: rem(18);
         }
      }
   }

   &__next {
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: -2%;

      @media screen and (max-width:em(380)) {
         width: rem(60);
         object-fit: contain;
      }
   }
}

.content {
   position: absolute;
   top: 4%;
   left: 3%;
   right: 3%;
   bottom: 8%;

   &__person-img {
      position: absolute;
      top: 16%;

      &._first {
         object-fit: contain;
         width: 60%;
         left: -18%;
         top: 20%;
         transform: rotate(-45deg); // Поворот на 45 градусов влево

      }
      &._first1 {
         object-fit: contain;
         width: 55%;
         left: 0%;
         top: 13.5%;
         transform: rotate(-45deg); // Поворот на 45 градусов влево

      }
      &._first2 {
         object-fit: contain;
         width: 55%;
         left: -7%;
         top: 12%
      }
      &._second {
         object-fit: contain;
         width: 60%;
         top: 20%;
         left: -8%;
      }

      &._third {
         object-fit: contain;
         width: 60%;
         top: 16%;
         left: -10%;
      }

      &._fourth {
         object-fit: contain;
         width: 60%;
         top: 18%;
         left: -10%;
      }
      &._fifth {
         object-fit: contain;
         width: 40%;
         top: 18%;
         left: 0%;
      }
   }

   &__text {
      text-align: center;
      font-size: clamp(1.313rem, 0.034rem + 5.45vw, 1.5rem);
      text-shadow: 0 rem(4) rem(2) rgba(0, 0, 0, 0.25);
      line-height: 1.3;
      margin-left: auto;
      padding-right: 2%;
      text-wrap: pretty;

      &._first {
         padding-top: 15%;
         max-width: 50%;
      }

      &._second {
         padding-top: 15%;
         max-width: 45%;
      }

      &._third {
         padding-top: 15%;
         max-width: 45%;
      }
   }

   &__flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(3);

      padding-top: 13%;
      max-width: 48%;
      margin-left: auto;
   }


   &__end-btn {
      display: flex;
      align-items: center;
      gap: rem(10);
      font-size: rem(24);
   }

   &__money-anim {
      position: absolute;
      bottom: 5%;
      right: 5%;
      opacity: 0;
      visibility: hidden;
   }
}

@keyframes change-popup {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
// @keyframes spin {
//    from {
//      transform: rotate(0deg);
//    }
//    to {
//      transform: rotate(360deg);
//    }
//  }
 
//  .wheel {
//    &.spinning {
//      animation: spin 3s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
//    }
 
//    &.stopping {
//      animation: spin 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
//      transform: rotate(720deg);
//    }
//  }

.wheel {
   position: absolute;
   top: 100%;
   left: 25%;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center; /* Центрирование по оси X */
   align-items: flex-start; /* Элементы внутри будут располагаться сверху */
}
.close {
   position: absolute;
   top: 2%;
   right: 2%;
   z-index: 14;
}
.greeting__next.disabled {
   pointer-events: none;
 }