@import '/src/index.scss';

.coinBlock {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 93%;

   &__left {
      display: flex;
      align-items: center;
      gap: rem(5);
      padding-left: rem(25);

      transform: translateX(rem(-10));
   }

   &__coin {
      height: rem(70);
   }

   &__right {
      padding-right: rem(15);
   }

   &__info {
      display: flex;
      flex-direction: column;
      gap: rem(10);

      &>h3 {
         font-size: rem(23);

         @media screen and (max-width:rem(390)) {
            font-size: rem(21);
         }
      }

   }

   &__earning {
      display: flex;
      align-items: center;
      gap: rem(5);
      font-size: rem(18);

      &>img {
         height: rem(20);
         object-fit: contain;
      }
   }

   &__price {
      display: flex;
      align-items: center;
      gap: rem(5);
      font-size: rem(24);

      @media screen and (max-width:rem(390)) {
         font-size: rem(22);
      }
   }

   &__invate {
      display: flex;
      align-items: center;
      gap: rem(4);

      &>span {
         font-size: rem(24);

      }
   }

   &__checkbox {
      display: block;
      width: rem(45);
      padding-right: rem(10);
   }
}