@import '/src/index.scss';

.wrap {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(#75B245, #8BC346, #BADE4A);
   overflow: hidden;

   &._hidden {
      visibility: hidden;
   }
}

.top {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: rem(6);
   padding-top: rem(50);


   @media screen and (max-width:em(410)) {
      padding-top: rem(30);
   }

   @media screen and (max-width:em(390)) {
      padding-top: rem(30);
   }

}

.top,
.bottom {
   position: relative;
   z-index: 10;
}

.bottom {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
}

.account {
   position: relative;
   margin-bottom: rem(10);
   width: rem(239);
   transform: translateX(rem(3));
   &__info {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      display: flex;
      align-items: center;
      gap: rem(6);
      padding: rem(5);
   }

   &__avatar {
      position: relative;

      flex-shrink: 0;
      width: rem(24);
      height: rem(24);
      border-radius: rem(4.8);

      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;
   }

   &__border {
      width: 100%;
      height: 100%;
   }

   &__avatar-person {
      position: absolute;
      top: 43%;
      left: 51.1%;
      transform: translate(-50%, -50%);

      width: 64%;
      height: 64%;
      object-fit: cover;
      border-radius: 100%;
   }

   & strong {
      font-size: rem(20);

   }
}

.coins {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: rem(12);

   text-align: center;
   font-size: rem(40);

   &__video-wrap {
      width: rem(32);
      height: rem(32);
      border-radius: 100%;
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
      }
   }
}

.liga {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: rem(8);
   width: fit-content;
   margin: 0 auto;
   font-size: rem(14);

   margin-bottom: rem(10);

   img {
      width: rem(21);
      height: rem(24);
      object-fit: contain;
   }
}



 



.energy {
   border: 1px solid red;
   position: absolute;
   bottom: 5vh;
   left: 50%;
   transform: translateX(-50%);
   width: 90vw;
   height: 30px;

   &__board {
      position: absolute;
      top: 0;
      left: 10%;
      width: 80%;
      height: 100%;
   }
   &__board1 {
      position: absolute;
      top: -34px;
      left: 51px;
      width: 26px;
      height: 130px;
      transform: rotate(-90deg);
   }

   &__icon {
      position: absolute;
      z-index: 15;
      top: 22px;
      left: 90%;
      width: 26px;
      height: 18px;
      transform: rotate(90deg);

   }

   &__progressBarWrap {
      position: absolute;
      top: calc(5 / 43 * 100%);
      bottom: calc(12 / 43 * 100%);
      left: calc(22 / 380 * 100%);
      right: calc(35 / 380 * 100%);

      & span {
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: rem(18);
         height: 100%;
         width: 100%;
      }
   }

   &__progressBar {
      position: absolute;
      top: 0;
      left: 9%;
      right: 0;
      height: 100%;
      width: 30%;
      max-width: 86%;
      min-width: 0%;
      border-radius: rem(10);
      background: linear-gradient(#FFF34A 20%, #FF7C18 85%, #FFC000 100%);
   }
   &__progressBar1 {
      position: absolute;
      top: 18px;
      left: 0px;
      right: 0;
      max-height: 12px;
      height: 100%;
      width: 30%;
      max-width: 100%;
      min-width: 0%;
      border-radius: rem(10);
      background: linear-gradient(180deg, #EEFBFF 25.24%, #70C3F2 72.4%, #EEFBFF 90.85%);

   }
}

.menu {
   position: relative;
   padding-bottom: 22.5%;
   border-radius: rem(25) rem(25) 0 0;
   background: linear-gradient(#A2C521, #667E00);

   &._hidden {
      opacity: 0;
      visibility: hidden;
   }

   &__border {
      position: absolute;
      top: -2.5%;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
   }

   &__body {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: rem(16);
      // font-size: rem(10);

      padding: rem(10) rem(15) 0 rem(15);
      margin-bottom: rem(15);

      @media screen and (max-width:em(400)) {
         // font-size: rem(10);
         font-size: rem(14.7);

      }

      li {
         position: relative;

         display: flex;
         align-items: center;
         flex-direction: column;
         gap: rem(2.5);
         height: 100%;

         text-align: center;

         &:nth-child(1) {
            transform: translateY(7%);
         }

         &:nth-child(2) {
            transform: translateY(8%);
         }

         &:nth-child(3) {
            transform: translateY(rem(-5));
            // & img:last-child {
            //    position: absolute;
            //    top: 17%;
            //    left: 50%;
            //    transform: translateX(-50%);
            // }
         }

         &:nth-child(4) {
            
            @media screen and (max-width:em(420)) {
               transform: translateY(4%);

               & img {
                  width: rem(50);

               }
            }
         }

         &:nth-child(5) {
            transform: translateY(6.5%);
         }
      }
   }
}

.clouds {
   z-index: 5;
   top: rem(-30);
   left: rem(-20);
   width: 110%;
}

.bg-elements {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;

   &>img {
      width: 100%;
   }

   // Экраны с 820px < height < 850px
   @media screen and (min-height:em(820)) and (max-height:em(850)) {
      top: rem(-30);
   }

   @media screen and (min-height:em(820)) and (max-height:em(850)) and (max-width:em(410)) {
      top: rem(-10);
   }

   // Экраны с height < 820px
   @media screen and (max-height:em(820)) {
      top: rem(-30);
   }
}

.boosts {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;

   img {
      position: absolute;
   }

   &__mill {
      top: 20%;
      left: 0;
      width: 60%;
   }

   &__drone {
      z-index: 10;
      top: 18%;
      left: 40%;
      width: 20%;

      @media screen and (max-height:em(850)) {
         top: 20%;
      }

      @media screen and (max-height:em(820)) and (max-width:em(415)) {
         width: 18%;
         top: 21%;
      }

   }

   &__mini-car {
      top: 31%;
      right: 2%;
      width: 23%;
   }

   &__car-2 {
      z-index: 15;
      bottom: 30%;
      left: 75%;
      width: 25%;
   }

   &__car-3 {
      bottom: 27.8%;
      left: 0%;
      width: 33%;
   }
}

.earn {
   &__label {
      top: 11% !important;
      font-size: rem(13) !important;

      @media screen and (max-width:em(400)) {
         font-size: rem(11) !important;
      }

      @media screen and (max-width:em(380)) {
         top: 15% !important;
      }
   }
}

.popup {

   &__body {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - rem(60));

      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: rem(60);

      @media screen and (max-width:rem(400)) {
         height: calc(78%);
      }
   }

   &__bg-lightnings {

      img {
         position: absolute;
         opacity: 0.3;
      }

      & img:nth-child(1) {
         top: rem(40);
         left: rem(50);
      }

      & img:nth-child(2) {
         top: rem(110);
         left: rem(100);
      }

      & img:nth-child(3) {
         bottom: rem(50);
         left: rem(60);
      }

      & img:nth-child(4) {
         top: rem(70);
         right: rem(60);
      }

      & img:nth-child(5) {
         top: rem(130);
         right: rem(100);
      }

      & img:nth-child(6) {
         bottom: rem(30);
         right: rem(80);
      }

   }

   &__bg-drops {
      img {
         position: absolute;
         opacity: 0.5;
      }

      & img:nth-child(1) {
         top: 20%;
         left: 27%;
      }

      & img:nth-child(2) {
         top: 30%;
         left: 10%;
      }

      & img:nth-child(3) {
         top: 40%;
         left: 25%;
      }

      & img:nth-child(4) {
         bottom: 14%;
         left: 8%;
      }

      & img:nth-child(5) {
         top: 13%;
         right: 13%;
      }

      & img:nth-child(6) {
         top: 25%;
         right: 25%;
      }

      & img:nth-child(7) {
         top: 38%;
         right: 5%;
      }

      & img:nth-child(8) {
         bottom: 20%;
         right: 5%;
      }

      & img:nth-child(9) {
         bottom: 13%;
         right: 25%;
      }
   }

   &__icon {
      display: block;
      width: 60%;
      object-fit: contain;

      &._boost {
         display: block;
         margin-top: rem(10);
         max-width: rem(100);
         width: 100%;

         max-height: rem(100);
         height: 100%;

         object-fit: contain;

         @media screen and (max-width:em(415)) {
            width: rem(90);
         }

         @media screen and (max-width:em(360)) {
            width: rem(80);
         }
      }

      &._coin {
         display: flex;
         width: rem(100);
         height: rem(93);
         transform: translateY(15%);
      }
   }

   &__desc {
      text-align: center;
      font-size: clamp(0.875rem, 0.104rem + 3.33vw, 1rem);
      max-width: 90%;
      padding-top: 5%;
   }

   &__level {
      display: block;
      font-size: rem(16);
      padding-top: rem(10);

      @media screen and (max-width:em(380)) {
         margin-bottom: rem(10);
      }

   }

   &__bottom {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
   }

   &__earning {
      display: flex;
      align-items: center;
      gap: rem(3);
      justify-content: center;
      font-size: rem(20);
      margin-bottom: rem(10);

      @media screen and (max-width:em(370)) {
         margin-bottom: rem(5);
      }


      img {
         width: rem(20);
         object-fit: contain;
      }
   }

   &__btn {
      display: flex;
      align-items: center;
      gap: rem(5);
      font-size: rem(25);
      @media screen and (max-width:em(380)) {
         font-size: rem(23);
      }
   }
   &__btn1 {
      display: flex;
      align-items: center;
      gap: rem(5);
      font-size: rem(25);
      background: linear-gradient(#A2C521, #667E00);
      @media screen and (max-width:em(380)) {
         font-size: rem(23);
      }
   }
  


   &__btn-coin {
      width: rem(28) !important;
      height: rem(28) !important;

      @media screen and (max-width:em(380)) {
         width: rem(24) !important;
         height: rem(24) !important;
      }
   }

   &__money-anim {
      position: absolute;
      bottom: 0;
      left: 10%;
      opacity: 0;
      visibility: hidden;

      &._anim {
         animation: moneyDisappear 0.4s ease-in;
      }
   }
}

.close {
   position: absolute;
   top: 18%;
   right: 5.8%;
}

.finger {
   position: absolute;
   z-index: 100;
   animation: moveFinger 2s ease-in-out infinite;
}

@keyframes moveFinger {
   0% {
      top: 55%;
      left: 48%;
   }

   100% {
      top: 47%;
      left: 15%;
   }
}


@keyframes shake {
   0% { transform: translate(0.5px, 0.5px) rotate(90deg); }
   10% { transform: translate(-0.5px, -1px) rotate(89deg); }
   20% { transform: translate(-1.5px, 0px) rotate(91deg); }
   30% { transform: translate(1.5px, 1px) rotate(90deg); }
   40% { transform: translate(0.5px, -0.5px) rotate(91deg); }
   50% { transform: translate(-0.5px, 1px) rotate(89deg); }
   60% { transform: translate(-1.5px, 0.5px) rotate(90deg); }
   70% { transform: translate(1.5px, 0.5px) rotate(89deg); }
   80% { transform: translate(-0.5px, -0.5px) rotate(91deg); }
   90% { transform: translate(0.5px, 1px) rotate(90deg); }
   100% { transform: translate(0.5px, -1px) rotate(89deg); }
 }
 
 .shake {
   animation: shake 0.5s; /* Duration of the shake animation */
   animation-iteration-count: infinite; /* Repeat the animation indefinitely */
 }
 