@import '/src/index.scss';


.wrap {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.farmBlock {
   position: absolute;
   width: rem(129);
   height: rem(80);

   &__earth {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &__growthStage {
      position: absolute;
      object-fit: contain;

      &._first {
         top: 26%;
         left: 40%;
         width: rem(24);
         height: rem(15);
      }

      &._second {
         top: -2%;
         left: 38%;
         width: rem(26);
         height: rem(38);
      }

      &._third {
         top: -55%;
         left: 38%;
         width: rem(41);
         height: rem(76);
      }

      &._fourth {
         top: -135%;
         left: 20%;
         width: rem(75);
         height: rem(144);
      }
   }

   &:nth-child(1) {
      top: 45%;
      left: 3%;

      @media screen and (min-width:rem(415)) {
         top: 46%;
         left: 4%;
      }

   }

   &:nth-child(2) {
      top: 49%;
      left: 18%;

      @media screen and (min-width:rem(415)) {
         top: 49.5%;
         left: 16.5%;
      }

   }

   &:nth-child(3) {
      top: 53%;
      left: 33%;

      @media screen and (min-width:rem(415)) {
         left: 29.7%;
      }
   }

   &:nth-child(4) {
      top: 50%;
      left: 48%;

      @media screen and (min-width:rem(415)) {
         left: 43%;
      }
   }

   &:nth-child(5) {
      top: 47%;
      left: 62%;

      @media screen and (min-width:rem(415)) {
         left: 56%;
      }
   }

   &:nth-child(6) {
      top: 42%;
      left: 18%;

      @media screen and (min-width:rem(415)) {
         top: 43%;
         left: 17%;
      }
   }

   &:nth-child(7) {
      top: 46%;
      left: 32%;

      @media screen and (min-width:rem(415)) {
         top: 47%;
         left: 30%;
      }
   }

   &:nth-child(8) {
      top: 43%;
      left: 46%;

      @media screen and (min-width:rem(415)) {
         top: 44%;
         left: 43%;
      }
   }

   &:nth-child(9) {
      top: 39%;
      left: 33%;

      @media screen and (min-width:rem(415)) {
         top: 40%;
         left: 31%;
      }
   }
}