@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import './scss/mixins.scss';
@import './scss/null.scss';

// Подключаем шрифты
// @font-face {
//    font-family: 'Berlin';
//    font-display: swap;
//    src: url("fonts/BRLNSR.woff2") format("woff2");
//    font-weight: 400;
//    font-style: normal;
// }

// @font-face {
//    font-family: 'Berlin';
//    font-display: swap;
//    src: url("fonts/BRLNSB.woff2") format("woff2");
//    font-weight: 700;
//    font-style: normal;
// }

// Подключаем шрифт Berlin для латиницы и цифр
@font-face {
   font-family: 'Berlin';
   font-display: swap;
   src: url("fonts/BRLNSR.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   unicode-range: U+0020-007F; /* Латиница и цифры */
}

@font-face {
   font-family: 'Berlin';
   font-display: swap;
   src: url("fonts/BRLNSB.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   unicode-range: U+0020-007F; /* Латиница и цифры */
}

// Подключаем шрифт Montserrat для кириллицы
@font-face {
   font-family: 'Montserrat';
   font-display: swap;
   src: url("fonts/Montserrat-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   unicode-range: U+0400-04FF; /* Кириллица */
}
@font-face {
   font-family: 'Montserrat';
   font-display: swap;
   src: url("fonts/Montserrat-Black.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   unicode-range: U+0400-04FF; /* Кириллица */
}


@import './scss/variables.scss';
* {
   -webkit-tap-highlight-color: transparent; /* Убирает черные обводки на устройствах с сенсорными экранами */
   -webkit-focus-ring-color: transparent; /* Убирает фокусные обводки в Safari */
   outline: none;
 }
 
 *:focus {
   -webkit-tap-highlight-color: transparent; /* Убирает черные обводки на устройствах с сенсорными экранами */
   -webkit-focus-ring-color: transparent; /* Убирает фокусные обводки в Safari */
   outline: none;
 }

 button:focus-visible {
   -webkit-tap-highlight-color: transparent; /* Убирает черные обводки на устройствах с сенсорными экранами */
   -webkit-focus-ring-color: transparent; /* Убирает фокусные обводки в Safari */
   outline: none; /* Убирает стандартную обводку */
 }

body {
   font-family: 'Berlin', 'Montserrat', sans-serif;

   // font-family: $mainFont;
   font-size: rem(50);
   font-weight: 700;
   color: #fff;
   // overflow: hidden !important;
   overflow-y: hidden !important;
   overflow-x: hidden !important;
   touch-action: none; /* Отключает жесты прокрутки и зумирования */
   user-select: none; /* Отключает выделение текста */
   -webkit-user-select: none; /* Отключает выделение текста в Safari */
   -ms-touch-action: none; /* Отключает жесты на устройствах с Windows */
   -ms-content-zooming: none; /* Отключает зумирование в IE на Windows */
}

html {
   height: 100%;
   // overflow: hidden !important;
   overflow-y: hidden !important;
   overflow-x: hidden !important;
   touch-action: none; /* Отключает жесты прокрутки и зумирования */
   user-select: none; /* Отключает выделение текста */
   -webkit-user-select: none; /* Отключает выделение текста в Safari */
   -ms-touch-action: none; /* Отключает жесты на устройствах с Windows */
   -ms-content-zooming: none; /* Отключает зумирование в IE на Windows */
}

/* Стили для включения скролла на странице invite */
body.invite-page, html.invite-page {
   overflow-y: auto !important;
   overflow-x: hidden !important;
}

@import './scss/globalStyles.scss'