@import './scss/mixins.scss';
@import './scss/null.scss';

// Подключаем шрифты
@font-face {
   font-family: 'Berlin';
   font-display: swap;
   src: url("fonts/BRLNSR.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Berlin';
   font-display: swap;
   src: url("fonts/BRLNSB.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
}

@import './scss/variables.scss';

body {
   font-family: $mainFont;
   font-size: 50px;
   font-weight: 700;
   color: #fff;
   background: rgba(0, 0, 0, 0);
}

@keyframes appear {
   0% {
      transform: translateY(40%);
      opacity: 0;
   }

   100% {
      transform: translateY(0%);
      opacity: 1;
   }
}

@import './scss/globalStyles.scss'